body{
    background-color: rgb(50, 203, 183);
}
#header-nav{
    background-color: bisque;
    border-radius: 0px;
    border: 0px;
}
.name{
    margin: 20px  20px 20px 40px;
}
.resturantname{
    display: inline-block;
}
.navbar-header a:hover , .navbar-header a:after{
   text-decoration: none;

}
.nav-list{
    text-align: center;
}